                          /* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

                         /* Estilos específicos */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    margin: 20px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select {
    font-size: 16px;
    padding: 5px;
}

button {
    font-size: 16px;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    padding: 10px;
}

                  /* Estilos para las imágenes de los logos en el footer */
footer img {
    max-width: 100px;
    max-height: 50px;
}